.content{
    width: 100%;
    height: auto;
    min-height: 500px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding-top: 20px;
    margin-bottom: 80px;
}
.c-p{
    height: 40px;
    line-height: 40px;
}
.cp-span{
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    padding: 0 10px;
    background-color: #eee;
    margin: 0 3px;
}
.c-left{
    text-align: left;
    margin-left: 20px; 
}
.c-right{
    text-align: right;
    margin-right: 20px;
}
.c-center{
    text-align: center;
}
.avator{
    height: 40px;
    width: 40px;
    border-radius: 5px;
}
.chatting{
    text-align: center;
}
.chat-con{
    min-width: 400px;
}
.login{
    width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-top: 500px;
}
.nickname{
    border: none;
    text-align: center;
    border-bottom: 1px solid #ccc;
    font-size: 2rem;
    outline: none;
}